<%= form_for [@group, @swapper] do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :partner %>
    <%= f.select "partner_id", options_from_collection_for_select(@group.swappers, "id", "name", @swapper.partner_id), include_blank: "Select"  %>
  </div>

  <div class="field">
    <%= f.label :child %>
    <%= f.select "child_id", options_from_collection_for_select(@group.swappers, "id", "name", @swapper.child_id), include_blank: "Select"  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>